
@{
    ViewData["Title"] = "Hakkımızda";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h1>Hakkımızda</h1>

<p>Merhaba ben Behlül Erol, 16 yaşında, 3d Tasarım ile ilgilenen bir 10.sınıf öğrencisiyim.<br /> İnşALLAH yüz alacağız.</p>